{{ $academic_years_index := site.GetPage "academic_years" }}
{{ $academic_years := $academic_years_index.Pages }}
{{ $menu_years := slice }}

{{ range $academic_years }}
  {{ $menu_years = $menu_years | append (dict
      "title" .Title
      "kind" "page"
      "target" .Permalink
      "path" .Path
      "children" slice
    ) }}
{{ end }}

{{ $menu := (dict
    "context" .
    "level" 1
    "dropdown" true
    "options" site.Params.menu.primary
    "items" (slice 
      (dict
        "title" "Promotions"
        "kind" "page"
        "target" "/promotions/"
        "children" $menu_years
      )
    )
  )
}}

{{ partial "header/button.html" }}
<div class="menu" id="navigation">
  {{ partial "commons/menu.html" $menu }}
</div>

{{/*  title: Projet
  target: "/projet/"
  kind: page
  new_tab: false
  children:
  - title: City Orchestra ?
    target: "/projet/presentation/"
    kind: page
    new_tab: false
    children: []
    path: "/pages/projet/presentation"
    file: content/fr/pages/projet/presentation/_index.html  */}}
{{/*  <ul class="nav-level-1 alumni-menu">
  <li class="has-children">
    Promotion
    <ul class="nav-level-2 dropdown">
      {{ range $academic_years }}
        <li>
          <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
      {{ end }}
    </ul>
  </li>
</ul>  */}}
